In [7]:
import pandas as pd
import requests

In [2]:
df = pd.read_csv('data/metadata.csv')
df

,date,id_coord,plume,set,lat,lon,coord_x,coord_y,path
0,20230223,id_6675,yes,train,31.528750,74.330625,24,47,images/plume/20230223_methane_mixing_ratio_id_...
1,20230103,id_2542,yes,train,35.538000,112.524000,42,37,images/plume/20230103_methane_mixing_ratio_id_...
2,20230301,id_6546,yes,train,21.060000,84.936667,58,15,images/plume/20230301_methane_mixing_ratio_id_...
3,20230225,id_6084,yes,train,26.756667,80.973333,28,62,images/plume/20230225_methane_mixing_ratio_id_...
4,20230105,id_2012,yes,train,34.800000,40.770000,59,44,images/plume/20230105_methane_mixing_ratio_id_...
...,...,...,...,...,...,...,...,...,...
425,20230302,id_6658,no,train,30.965619,34.541283,39,36,images/no_plume/20230302_methane_mixing_ratio_...
426,20230218,id_4690,no,train,35.950275,40.267652,29,28,images/no_plume/20230218_methane_mixing_ratio_...
427,20230213,id_2519,no,train,49.963801,6.016938,23,10,images/no_plume/20230213_methane_mixing_ratio_...
428,20230213,id_5510,no,train,32.713854,44.609398,55,54,images/no_plume/20230213_methane_mixing_ratio_...
429,20230330,id_6609,no,train,47.758979,27.801630,21,15,images/no_plume/20230330_methane_mixing_ratio_...

In [28]:
path_in_hand = '20230102_methane_mixing_ratio_id_1465'
filtered_df = df[df['path'].str.contains(path_in_hand)]
lat = filtered_df['lat'].values[0]
lon = filtered_df['lon'].values[0]
print(f'lat: {lat}, long: {lon}.')

lat: 23.83333333333333, long: 90.46.

In [12]:
def get_nearby_industrial_sites(lat, lon, radius=100):
    overpass_url = "http://overpass-api.de/api/interpreter"
    overpass_query = f"""
    [out:json];
    (
      node["landuse"="industrial"]({lon - radius},{lat - radius},{lon + radius},{lat + radius});
      way["landuse"="industrial"]({lon - radius},{lat - radius},{lon + radius},{lat + radius});
      relation["landuse"="industrial"]({lon - radius},{lat - radius},{lon + radius},{lat + radius});

    );
    out center;
    """
    response = requests.get(overpass_url, params={'data': overpass_query})
    # data = response.json()
    return response

industrial_sites = get_nearby_industrial_sites(31.52875, 74.330625)
industrial_sites

In [63]:
import requests

def get_nearby_data(lat, lon, radius=10000, purpose='"landuse"="industrial"'):
        overpass_url = "http://overpass-api.de/api/interpreter"
        query = f"""
        [out:json];
        (
        node[{purpose}](around:{radius},{lat},{lon});
        way[{purpose}](around:{radius},{lat},{lon});
        relation[{purpose}](around:{radius},{lat},{lon});
        );
        out center;
        """
        response = requests.get(overpass_url, params={'data': query})
        data = response.json()
        return data

# Get nearby cities around the given coordinates 
cities = get_nearby_data(33.51333333333333, -87.20333333333333, 10000, purpose='"landuse"="landfill"')
ind_en_list = [item['tags']['name:en'] for item in cities['elements'] if 'name:en' in item['tags']]
# [item for item in cities['elements']]
cities

{'version': 0.6,
 'generator': 'Overpass API 0.7.60.2 e4cf9f7a',
 'osm3s': {'timestamp_osm_base': '2023-05-15T20:57:54Z',
  'copyright': 'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'},
 'elements': [{'type': 'way',
   'id': 1155365471,
   'center': {'lat': 33.4783735, 'lon': -87.2645458},
   'nodes': [10744651962,
    10744651993,
    10744651994,
    10744651995,
    10744651996,
    10744651997,
    10744651998,
    10744651999,
    10744652000,
    10744652001,
    10744652002,
    10744652003,
    10744652004,
    10744652005,
    10744652006,
    10744652007,
    10744652008,
    10744652009,
    10744652010,
    10744652011,
    10744652012,
    10744652013,
    10744652014,
    10744652015,
    10744652016,
    10744652017,
    10744652018,
    10744652019,
    10744652020,
    10744652021,
    10744652022,
    10744652023,
    10744652024,
    10744652025,
    10744652026,
    10744652027,
    10744652028,
    10744652029,
    10744652030,
    10744652031,
    10744652032,
    10744652033,
    10744652034,
    10744652035,
    10744652036,
    10744652037,
    10744652038,
    10744652039,
    10744652040,
    10744652041,
    10744652042,
    10744652043,
    10744652044,
    10744652045,
    10744652046,
    10744652047,
    10744652048,
    10744652049,
    10744652050,
    10744652051,
    10744652052,
    10744652053,
    10744651971,
    10744651970,
    10744651969,
    10744651968,
    10744651967,
    10744651966,
    10744651965,
    10744651964,
    10744651963,
    10744651962],
   'tags': {'landuse': 'landfill'}}]}